---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
import HeroSection from "../components/HeroSection.astro";
import RecipeCard from "../components/RecipeCard.astro";

const pageTitle = "Home Page";
---

<BaseLayout>
  <HeroSection />
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <div class="flex justify-between mb-16">
    <RecipeCard
      recipename="Israelischer Eintopf mit Bohnen & Chili"
      photoname="israeli_stew.jpg"
      alt="Bild einer Portion israelischen Eintopfs mit Bohnen und Chili in einer Schüssel"
      duration="45 Minuten"
      tag="Vegan"
    />
    <RecipeCard
      recipename="Mediterraner Salat mit Granatapfel & Minze"
      photoname="mediterranean_salad.jpg"
      alt="Bild einer Portion mediterranem Salats auf einer Platte"
      duration="30 Minuten"
      tag="Vegan"
    />
    <RecipeCard
      recipename="Sommer-Pasta mit getrockneten Tomaten"
      photoname="summer_pasta.jpg"
      duration="30 Minuten"
      tag="Vegetarisch"
    />
    <RecipeCard
      recipename="Milchshake New York Style"
      photoname="milkshake_new_york_style.jpg"
      duration="15 Minuten"
      tag="Vegetarisch"
    />
  </div>

  <!-- Footer -->
  <div class="flex gap-16 border-t-1 border-black p-8 bg-red-300">
    <!-- Flexbox -->
    <div class="bg-green-300 basis-1/3">
      <!-- Left Side -->
      <p class="font-sans text-base text-slate-800 mb-4">
        Nichts mehr verpassen!
      </p>
      <p class="font-serif font-semibold text-2xl">
        Jeden Monat neue Rezeptideen mit unserem Newsletter!
      </p>
    </div>

    <!-- Right Side -->
    <form class="basis-2/3 bg-blue-300" action="#" method="post">
      <div class="flex bg-purple-300 mb-4">
        <div class="gap-4">
          <label></label>
          <input
            class="h-12 border-1 border-black bg-transparent text-black"
            placeholder="
      Vorname
      Nachname"
            required
          />
          <label></label>
          <input
            class="h-12 border-1 border-black bg-transparent text-black"
            placeholder="e-mail-adresse@provider.de"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label></label>
        <input
          class="w-full bg-black text-white h-12"
          type="submit"
          value="Abonnieren"
        />
      </div>
      <p class="text-center font-sans text-sm">asdbdasdasda</p>
    </form>
  </div>
</BaseLayout>
