---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
import HeroSection from "../components/HeroSection.astro";
import RecipeCard from "../components/RecipeCard.astro";

const pageTitle = "Home Page";
---

<BaseLayout>
  <HeroSection />
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <div class="flex justify-between mb-16">
    <RecipeCard
      recipename="Israelischer Eintopf mit Bohnen & Chili"
      photoname="israeli_stew.jpg"
      alt="Bild einer Portion israelischen Eintopfs mit Bohnen und Chili in einer Schüssel"
      duration="45 Minuten"
      tag="Vegan"
    />
    <RecipeCard
      recipename="Mediterraner Salat mit Granatapfel & Minze"
      photoname="mediterranean_salad.jpg"
      alt="Bild einer Portion mediterranem Salats auf einer Platte"
      duration="30 Minuten"
      tag="Vegan"
    />
    <RecipeCard
      recipename="Sommer-Pasta mit getrockneten Tomaten"
      photoname="summer_pasta.jpg"
      duration="30 Minuten"
      tag="Vegetarisch"
    />
    <RecipeCard
      recipename="Milchshake New York Style"
      photoname="milkshake_new_york_style.jpg"
      duration="15 Minuten"
      tag="Vegetarisch"
    />
  </div>
  <div class="flex gap-16 border-t-1 border-black p-8 bg-red-300">
    <div class="bg-green-300 basis-1/3">
      <p class="font-sans text-slate-800 mb-4">Nichts mehr verpassen!</p>
      <p class="font-serif font-semibold text-xl">
        Jeden Monat neue Rezeptideen mit unserem Newsletter
      </p>
    </div>
    <div class="flex justify-between gap-8 bg-blue-300 basis-2/3">
      <!-- Hier weiter!!! -->
      <form>
        <div><input placeholder="
      Vorname
      Nachname" required /></div>
        <input placeholder="e-mail@provider.com" required />
      </form>
      <div>
        <input type="submit" value="Abonnieren" />
      </div>
    </div>
  </div>
</BaseLayout>
