---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <div class="mb-16">
    <h1>Diese Seite ist noch in Bearbeitung!</h1>
    <h2>Bitte komm später wieder.</h2>
  </div>
  <Footer />
</BaseLayout>
