---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="container">
    <h1>Willkommen im Yummy Club!</h1>
    <p>Du hast dich erfolgreich für den Newsletter registriert.</p>
    <button onclick="window.location.href='/'">Zurück zu Yummy</button>
  </div>
</BaseLayout>
