---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={"https://www.${platform}.${username}"}>{platform}</a
    >!
  </p>
</footer>
