---
import SubscribeForm from "../partials/SubscribeForm.astro";
---
<!-- Footer -->
<div class="flex gap-16 border-t-1 border-black p-8">
  <!-- Flexbox -->
  <div class="basis-1/3">
    <!-- Left side -->
    <p class="font-sans text-base text-slate-900 mb-4">
      Nichts mehr verpassen!
    </p>
    <p class="font-serif font-semibold text-2xl">
      Jeden Monat neue Rezeptideen mit unserem Newsletter!
    </p>
  </div>

  <SubscribeForm></SubscribeForm>
</div>
