---
import Brand from "../partials/navigation/Brand.astro";
import Menu from "../partials/navigation/Menu.astro";
import SocialMedia from "../partials/navigation/SocialMedia.astro";
---

<header>
  <nav
    class="flex mx-auto justify-between items-center border-b-1 border-black pb-4"
  >
    <Brand />
    <Menu />
    <SocialMedia />
  </nav>
</header>
