---
import Brand from "./navigation/Brand.astro";
import Menu from "./navigation/Menu.astro";
import SocialMedia from "./navigation/SocialMedia.astro";
---

<header>
  <nav
    class="flex justify-between items-center border-b-1 border-black pb-4 sticky top-0 z-50"
  >
    <Brand />
    <Menu />
    <SocialMedia />
  </nav>
</header>
