---
---

<div class="container relative text-center mb-12">
  <img
    src="/img/hero_section.png"
    alt="An empty kitchen counter with some flour on it"
    class="w-full"
  />
  <div
    class="w-full px-52 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex-wrap"
  >
    <h1
      class="my-4 lg:text-4xl md:text-2xl sm:text-base font-semibold leading-tight"
    >
      Einzigartige Veggie-Rezepte aus den Küchen der Welt
    </h1>
    <p
      class="font-sans lg:text-lg md:text-base sm:text-sm xs:text-sm px-8 sm:px-4 text-slate-800"
    >
      Entdecke die besten fleisch- und fischlosen &#129367 Rezepte und rette
      dabei ein bisschen den Planeten &#127758;
    </p>
  </div>
</div>
