---
import MenuEntry from "./MenuEntry.astro";
---

<div>
  <ul class="flex flex-row gap-4 text-sm">
    <MenuEntry title="Recipes" url="#" />
    <MenuEntry title="Blog" url="#" />
    <MenuEntry title="Shop" url="#" />
    <MenuEntry title="Books" url="#" />
    <MenuEntry title="About" url="#" />
  </ul>
</div>
