---
---

<div>
  <button
    class="rounded-full outline outline-2 outline-amber-200 p-1.5 hover:bg-amber-100"
  >
    <a href="https://www.instagram.com">
      <svg
        class="fill-none w-4 h-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        ><path
          d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5Z"
          stroke="currentColor"
          stroke-miterlimit="10"
          vector-effect="non-scaling-stroke"></path><path
          d="M10.75 2.25H5.25C3.59315 2.25 2.25 3.59315 2.25 5.25V10.75C2.25 12.4069 3.59315 13.75 5.25 13.75H10.75C12.4069 13.75 13.75 12.4069 13.75 10.75V5.25C13.75 3.59315 12.4069 2.25 10.75 2.25Z"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          vector-effect="non-scaling-stroke"></path><path
          d="M11.25 5.49999C11.6642 5.49999 12 5.1642 12 4.74999C12 4.33577 11.6642 3.99998 11.25 3.99998C10.8358 3.99998 10.5 4.33577 10.5 4.74999C10.5 5.1642 10.8358 5.49999 11.25 5.49999Z"
          fill="currentColor"
          vector-effect="non-scaling-stroke"></path></svg
      ></a
    >
  </button>
</div>
